<h1>Editing specification</h1>

<% form_for(@specification) do |f| %>
  <%= f.error_messages %>

<table>
<tr><td class="ttl">Basics </td></tr>
<tr>
  <td>
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </td>
  <td class="wide">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </td>
  <td class="wide">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </td>
  <td>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </td>
</tr>
<tr><td class="ttl">Lengths </td></tr>
<tr>
  <td>
    <%= f.label :lwl %><br />
    <%= f.text_field :lwl %>
  </td>
  <td>
    <%= f.label :loa %><br />
    <%= f.text_field :loa %>
  </td>
  <td>
    <%= f.label :beam %><br />
    <%= f.text_field :beam %>
  </td>
  <td>
    <%= f.label :min_draft %><br />
    <%= f.text_field :min_draft %>
  </td>
  <td>
    <%= f.label :max_draft %><br />
    <%= f.text_field :max_draft %>
  </td>
  <td>
    <%= f.label :bridge_clearance %><br />
    <%= f.text_field :bridge_clearance %>
  </td>
</tr>
<tr>
  <td class="ttl">Weights </td>
  <td>                    </td>
  <td class="ttl"> Rates</td>
  <td>                  </td>
  <td class="ttl">Others</td>
</tr>
<tr>
  <td>
    <%= f.label :displacement %><br />
    <%= f.text_field :displacement %>
  </td>
  <td>
    <%= f.label :ballast %><br />
    <%= f.text_field :ballast %>
  </td>
  <td>
    <%= f.label :cruise_speed %><br />
    <%= f.text_field :cruise_speed %>
  </td>
  <td>
    <%= f.label :max_speed %><br />
    <%= f.text_field :max_speed %>
  </td>
  <td class="wide">
    <%= f.label :hull_material %><br />
    <%= f.text_field :hull_material %>
  </td>
  <td class="wide">
    <%= f.label :designer %><br />
    <%= f.text_field :designer %>
  </td>
</tr>
<tr><td class="ttl">Tanks </td></tr>
<tr>
  <td>
    <%= f.label :fuel_tank_capacity %><br />
    <%= f.text_field :fuel_tank_capacity %>
  </td>
  <td>
    <%= f.label :water_tank_capacity %><br />
    <%= f.text_field :water_tank_capacity %>
  </td>
  <td>
    <%= f.label :holding_tank_capacity %><br />
    <%= f.text_field :holding_tank_capacity %>
  </td>
  <td>
    <%= f.label :number_of_fuel_tanks %><br />
    <%= f.text_field :number_of_fuel_tanks %>
  </td>
  <td>
    <%= f.label :number_of_water_tanks %><br />
    <%= f.text_field :number_of_water_tanks %>
  </td>
  <td>
    <%= f.label :number_of_holding_tanks %><br />
    <%= f.text_field :number_of_holding_tanks %>
  </td>
</tr>
<tr><td class="ttl">Engines</td></tr>
<tr>
  <td class="wide">
    <%= f.label :engine_manufacturer %><br />
    <%= f.text_field :engine_manufacturer %>
  </td>
  <td class="wide">
    <%= f.label :engine_model %><br />
    <%= f.text_field :engine_model %>
  </td>
  <td class="wide">
    <%= f.label :engine_fuel %><br />
    <%= f.text_field :engine_fuel %>
  </td>
  <td>
    <%= f.label :engine_horsepower %><br />
    <%= f.text_field :engine_horsepower %>
  </td>
  <td>
    <%= f.label :engine_year %><br />
    <%= f.text_field :engine_year %>
  </td>
  <td>
    <%= f.label :number_of_engines %><br />
    <%= f.text_field :number_of_engines %>
  </td>
</tr>
</table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
