<h1>Editing specification</h1>

<% form_for(@specification) do |f| %>
  <%= f.error_messages %>

<p>
  <ul>
  <li><%= f.label :length %>: <br/><%= f.text_field :length %></li>
  <li class="wide"><%= f.label :manufacturer %>:<br/> <%= f.text_field :manufacturer %></li>
  <li class="wide"><%= f.label :model %>:<br/> <%= f.text_field :model %></li>
  <li><%= f.label :year %>:<br/> <%= f.text_field :year %></li>
  </ul>
</p>

<p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, :size=>"80x5" %>
</p>

<table class='spec_table'>
<tr class="spec_ttl"><td>Hull</td></tr>
<tr>
  <td class="wide">
    <%= f.label :hull_material %><%= f.text_field :hull_material %>
  </td>
  <td class="wide">
    <%= f.label :designer %><%= f.text_field :designer %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :lwl %><%= f.text_field :lwl %>
  </td>
  <td>
    <%= f.label :loa %><%= f.text_field :loa %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :lod %><%= f.text_field :loa %>
  </td>
  <td>
    <%= f.label :beam %><%= f.text_field :beam %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :min_draft %><%= f.text_field :min_draft %>
  </td>
  <td>
    <%= f.label :max_draft %><%= f.text_field :max_draft %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :bridge_clearance %>
    <%= f.text_field :bridge_clearance %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :displacement %>
    <%= f.text_field :displacement %>
  </td>
  <td>
    <%= f.label :ballast %>
    <%= f.text_field :ballast %>
  </td>
</tr>
<tr class="spec_ttl"><td>Tanks </td></tr>
<tr>
  <td class="wide">
    <%= f.label :fuel_tanks %>
    <%= f.text_field :fuel_tanks %>
  </td>
  <td class="wide">
    <%= f.label :water_tanks %>
    <%= f.text_field :water_tanks %>
  </td>
</tr>
<tr>
  <td class="wide">
    <%= f.label :holding_tanks %>
    <%= f.text_field :holding_tanks %>
  </td>
</tr>
<tr class="spec_ttl"><td>Engines</td></tr>
<tr>
  <td class="wide">
    <%= f.label :engine_manufacturer %>
    <%= f.text_field :engine_manufacturer %>
  </td>
  <td class="wide">
    <%= f.label :engine_model %>
    <%= f.text_field :engine_model %>
  </td>
</tr>
<tr>
  <td class="wide">
    <%= f.label :engine_fuel %>
    <%= f.text_field :engine_fuel %>
  </td>
  <td>
    <%= f.label :engine_horsepower %>
    <%= f.text_field :engine_horsepower %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :engine_year %>
    <%= f.text_field :engine_year %>
  </td>
  <td>
    <%= f.label :number_of_engines %>
    <%= f.text_field :number_of_engines %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :cruise_speed %>
    <%= f.text_field :cruise_speed %>
  </td>
  <td>
    <%= f.label :max_speed %>
    <%= f.text_field :max_speed %>
  </td>
</tr>
</table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
