<h1>Listing specifications</h1>

<p>
<%= Specification.count %> specifications <br/>
<%= Photo.count / 2 %> layouts <br/>
<%= link_to 'New specification', new_specification_path %>
</p>

<table>
  <tr>
    <th></th>
    <th>Length</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
  </tr>

<% for specification in @specifications %>
  <tr>
    <td><%=link_to "#{specification.photos.count} photos", specification_photos_path(specification) %></td>
    <td><%=h specification.length %></td>
    <td><%=h specification.manufacturer %></td>
    <td><%=h specification.model %></td>
    <td><%=h specification.year %></td>
    <td><%=h specification.price %></td>
    <td><%= link_to 'Show', specification %></td>
    <td><%= link_to 'Edit', edit_specification_path(specification) %></td>
    <td><%= link_to 'Destroy', specification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
