<div class="centered">

<b> <%= @specification.to_s %></b>
<br/> <%= @specification.to_s5 %>

<ul>
<% @photos.each do |photo| %>
<li style="display: inline"><%= link_to image_tag(photo.public_filename(:thumb)), photo.public_filename %></li>
<% end %>
</ul>

</div>

<div class="left_aligned">
<%= @specification.description %>
</div>

<div class="centered">
<br/>
<div style="float:left; width: 200px; text-align: left;">
<ul>
<% @specification.spec_names.each do |spec| -%>
  <% if @specification.send(spec.to_sym).to_s != "" -%>
    <li><%= spec.humanize %>: <%=h @specification.send(spec.to_sym) %></li>
  <% end -%>
<% end -%>
</ul>
</div>

<div style="float: right; width: 500px;">
<%= image_tag(@photos.rand.public_filename) if @photos.size > 0 %>
</div>
</div>
