<div style="text-align: center; margin: 0 auto;">
<ul>
<% @photos.each do |photo| %>
<li style="display: inline"><%= link_to image_tag(photo.public_filename(:thumb)), photo.public_filename %></li>
<% end %>
<ul>

<table>
<tr><td class="ttl">Basics </td></tr>
<tr>
  <td>
    <b>Length:</b><br/>
    <%=h @specification.length %>
  </td>
  <td class="wide">
    <b>Manufacturer:</b><br/>
    <%=h @specification.manufacturer %>
  </td>
  <td class="wide">
    <b>Model:</b><br/>
    <%=h @specification.model %>
  </td>
  <td>
  <b>Year:</b><br/>
  <%=h @specification.year %>
  </td>
</tr>
<tr><td class="ttl">Lengths </td></tr>
<tr>
  <td>
  <b>Lwl:</b><br/>
  <%=h @specification.lwl %>
  </td>
  <td>
  <b>Loa:</b><br/>
  <%=h @specification.loa %>
  </td>
  <td>
  <b>Beam:</b><br/>
  <%=h @specification.beam %>
  </td>
  <td>
  <b>Min draft:</b><br/>
  <%=h @specification.min_draft %>
  </td>
  <td>
  <b>Max draft:</b><br/>
  <%=h @specification.max_draft %>
  </td>
  <td>
  <b>Bridge clearance:</b><br/>
  <%=h @specification.bridge_clearance %>
  </td>
</tr>
<tr>
  <td class="ttl">Weights </td>
  <td>                    </td>
  <td class="ttl"> Rates</td>
  <td>                  </td>
  <td class="ttl">Others</td>
</tr>
<tr>
  <td>
  <b>Displacement:</b><br/>
  <%=h @specification.displacement %>
  </td>
  <td>
  <b>Ballast:</b><br/>
  <%=h @specification.ballast %>
  </td>
  <td>
  <b>Cruise speed:</b><br/>
  <%=h @specification.cruise_speed %>
  </td>
  <td>
  <b>Max speed:</b><br/>
  <%=h @specification.max_speed %>
  </td>
  <td class="wide">
  <b>Hull material:</b><br/>
  <%=h @specification.hull_material %>
  </td>
  <td class="wide">
  <b>Designer:</b><br/>
  <%=h @specification.designer %>
  </td>
</tr>
<tr><td class="ttl">Tanks </td></tr>
<tr>
  <td>
  <b>Fuel tank capacity:</b><br/>
  <%=h @specification.fuel_tank_capacity %>
  </td>
  <td>
  <b>Water tank capacity:</b><br/>
  <%=h @specification.water_tank_capacity %>
  </td>
  <td>
  <b>Holding tank capacity:</b><br/>
  <%=h @specification.holding_tank_capacity %>
  </td>
  <td>
  <b>Number of fuel tanks:</b><br/>
  <%=h @specification.number_of_fuel_tanks %>
  </td>
  <td>
  <b>Number of water tanks:</b><br/>
  <%=h @specification.number_of_water_tanks %>
  </td>
  <td>
  <b>Number of holding tanks:</b><br/>
  <%=h @specification.number_of_holding_tanks %>
  </td>
</tr>
<tr><td class="ttl">Engines</td></tr>
<tr>
  <td class="wide">
  <b>Engine manufacturer:</b><br/>
  <%=h @specification.engine_manufacturer %>
  </td>
  <td class="wide">
  <b>Engine model:</b><br/>
  <%=h @specification.engine_model %>
  </td>
  <td class="wide">
  <b>Engine fuel:</b><br/>
  <%=h @specification.engine_fuel %>
  </td>
  <td>
  <b>Engine horsepower:</b><br/>
  <%=h @specification.engine_horsepower %>
  </td>
  <td>
  <b>Engine year:</b><br/>
  <%=h @specification.engine_year %>
  </td>
  <td>
  <b>Number of engines:</b><br/>
  <%=h @specification.number_of_engines %>
  </td>
</tr>
</table>
</div>
