<%= link_to image_tag('ll_thumb.gif', :alt=>"Layouts and Line Drawings"), root_path %>
<h1 style="display: inline">About</h1>
<hr/>

<div class="left_aligned">

<p> Layouts and Line Drawings is a database of yacht specfications, layouts, and line drawings. 
We specialize in sailboats from 40 to 50 feet.  We operate in two segments:
<ul>
  <li>
    An online <%= link_to 'search', root_path %>
  </li>
  <li>
    A freely available XML <%= link_to 'feed', developers_path %>
  </li>
</ul>
</p>

<h3> History </h3> 
<p>
We are a wholly owned subsidary of <%= link_to "Jordan Yacht & Ship Co.", "http://jordanyachtandship.com" %>, 
a Ft. Lauderdale, Florida yacht brokerage.  
After 20 years in business, Jordan Yachts had accumulated a large amount of layouts and line drawings.
Inspired by the site <%= link_to "YachtLayouts.com", "http://yachtlayouts.com" %>, the brokerage decided 
to start an online database for anyone to freely access their database.
</p>

<h3> Of Layouts and Line Drawings</h3>
<p>
One broker at Jordan Yachts always stressed the difference between <i>layouts</i> and <i>line drawings</i>.  
<ul>
  <li>
    Layouts are the top-view pictures of yachts.  They show the inside of a yacht: staterooms, heads, and the galley.
  </li>
  <li>
    Line drawings are the profile views of yachts.  They show the rigging and sails.
  </li>
</ul>
</p>

<h3>Copyrights</h3>
<p>
If anyone has an objection to information on our site, please notify us, and we'll remove it.  To our knowledge, 
all information we provide is freely distributable.

<br/>
<br/>
Sincerely,
<br/>
Richard Jordan <i>Vice-President</i>
</p>
</div>
