<%= javascript_include_tag :defaults %>

<div>
<%= link_to image_tag('ll_thumb.gif', :alt=>"Layouts and Line Drawings"), root_path %>
<form method="get" action=<%=search_path%> style="display: inline">
<input id='query' type="text" name="query" size="30">

<%= submit_tag 'Search' %>
</form>
</div>
<hr/>

<div class="left_aligned">

<p>
<%= @manufacturers.size %> manufacturers
</p>
</div>

<div class="left_aligned">
<% @manufacturers.each_slice((@manufacturers.length * 1.0/2.0).ceil) do |ms| %>
<ul style="float: left; width: 500px">
<% for m in ms %>
  <li><%=link_to_remote m.manufacturer, :url=>models_path(:manufacturer=>m.manufacturer), :update=>m.manufacturer, :after => "Element.toggle(\'#{m.manufacturer}\')"%>
      <div id="<%=m.manufacturer%>" style="display: none;"></div>
  </li>
<% end %>
</ul>
<% end %>
</div>
