<div style="text-align: center"> 

<p>
<%= image_tag('ll.gif') %>
</p>

<form action=<%=search_path%> method="get">
<input id='query' type="text" name="query" size="60" auto_complete="off">
<div id="query_auto_complete" class="auto_complete" style="display: none;"></div>
<%= auto_complete_field 'query', :url => auto_complete_path, :method=>:get %>

<br/>
<%= submit_tag 'Search By Manufacturer' %>
</form>
<p>
&copy; 2009 <%= link_to "Jordan Yacht & Ship Co.", "http://jordanyachtandship.com" %> 
</p>
</div>
