<div style="text-align: center"> 

<p>
<%= image_tag('ll.gif', :alt=>"Layouts and Line Drawings") %>
</p>

<form action=<%=search_path%> method="get">
<input id='query' type="text" name="query" size="40" auto_complete="off">
<div id="query_auto_complete" class="auto_complete" style="display: none;"></div>
<%= auto_complete_field 'query', :url => auto_complete_path, :method=>:get %>
<%= submit_tag "Search" %> 
</form>

<div style="color: navy; font-weight: bold; font-size: 18pt">
Search our database of <%= Photo.count / 2 %> images.
</div>

<p>
<%= link_to "About", about_path %> 
<%= link_to "Advertising", advertising_path %> 
<%= link_to "Developers", developers_path %> 
</p>

<div>
&copy; 2009 <%= link_to "Jordan Yacht & Ship Co.", "http://jordanyachtandship.com" %> 
</div>

<hr/>
<div style="text-align: left"> Sponsored Yachts </div>
<table class="spec_table"><tr>
<td><%=link_to image_tag('http://65.249.65.166/media//image.asp?vessel=38677&img=83%5F9%5F52%5F26%5FAMunicorn%5Fbetter%5Fresolution%2Ejpg&w=300&h=200&companies_id=411'), 'http://jordanyachtandship.com/main.php?-vessel_basic_info.asp-&vessels_id=38677&curr_id=7&vd=1' %></td>
<td><%=link_to image_tag('http://65.249.65.166/media//image.asp?vessel=44827&img=83%5F2%5F57%5F31%2DPMIMG%5F2487%2EJPG&w=300&h=200&companies_id=411'), 'http://jordanyachtandship.com/main.php?-vessel_basic_info.asp-&vessels_id=44827&curr_id=7&vd=1' %></td>
<td><%=link_to image_tag('http://65.249.65.166/media//image.asp?vessel=85975&img=Cruising%2DSailboat%2DMain%2DProfile%2D85975%2D54%2DHylas%2Dbrochure%2Dprofile2%2Ejpg&w=300&h=200&companies_id=411'), 'http://jordanyachtandship.com/main.php?-vessel_basic_info.asp-&vessels_id=85975&curr_id=7&vd=1' %></td>
<td><%=link_to image_tag('http://65.249.65.166/media//image.asp?vessel=84443&img=Cruising%2DSailboat%2DMain%2DProfile%2D84443%2Dprofile%2Dcrop%2Ejpg&w=300&h=200&companies_id=411'), 'http://jordanyachtandship.com/main.php?-vessel_basic_info.asp-&vessels_id=84443&curr_id=7&vd=1' %></td>
</tr></table>
</div>

