<div style="text-align: center"> 

<p>
<%= image_tag('ll.gif') %>
</p>

<form action=<%=search_path%> method="get">
<input id='query' type="text" name="query" size="40" auto_complete="off">
<div id="query_auto_complete" class="auto_complete" style="display: none;"></div>
<%= auto_complete_field 'query', :url => auto_complete_path, :method=>:get %>
<%= submit_tag 'Search' %>
</form>

<p>
<%= link_to "About", about_path %> 
<%= link_to "Advertising", advertising_path %> 
<%= link_to "Developers", developers_path %> 
</p>

<p>
&copy; 2009 <%= link_to "Jordan Yacht & Ship Co.", "http://jordanyachtandship.com" %> 
</p>
</div>
