<div>
<%= link_to image_tag('ll_thumb.gif'), root_path %>
<form method="get" action=<%=search_path%> style="display: inline">
<input id='query' type="text" name="query" size="30">

<%= submit_tag 'Search' %>
</form>
</div>
<hr/>

<% if @specs.length != 0  %>
<p>
 Found <%= @specs.length %> matches
</p>

<table width="100%">
<% @specs.each_slice(6) do |sub_specs| -%>
  <tr>
  <% sub_specs.each do |spec| -%>
    <td valign="bottom" width="16%">
      <% real_spec = Specification.find(spec.specification_id) %>
<!-- # image_tag(spec.main_photo(:thumb)), specification_path(spec) -->
      <%= link_to image_tag(spec.public_filename(:thumb)), specification_path(real_spec) %><br/>
      <%= h("#{real_spec.length} #{real_spec.manufacturer} #{real_spec.model} #{real_spec.year}") %>
    </td>
  <% end -%>
  </tr>
<% end -%>
</table>

<div class="goldstrip" style="clear: both; text-align:center; margin: 0 auto;" ><br/>
<form action=<%=search_path%> method="get">
<input id='query' type="text" name="query" size="30">

<%= submit_tag 'Search', :id=>'search_button' %>
</form>
</div>

<% else %>
<p>
Your search <%= h params[:query] %> did not match any specifications in our database.
</p>

<p>
Try:
<ul>
<li>Checking your spelling</li>
<li>Fewer terms</li>
<li>More general terms</li>
</ul>
</p>
<% end %>
