<div>
<%= link_to image_tag('ll_thumb.gif', :style=>"display: inline"), root_path %>
<form method="get" action=<%=search_path%> style="display: inline">
<input id='query' type="text" name="query" size="30">

<%= submit_tag 'Search' %>
</form>
</div>
<hr/>

<% if @specs.length != 0  %>
<table class="specs">
<th></th>
<th>Length</th>
<th>Manufacturer</th>
<th>Model</th>
<th>Year</th>

<% for spec in @specs do -%>
  <tr class="spec">
    <td><%= link_to image_tag(spec.main_photo), specification_path(spec) %></td>
    <td><%= h spec.length %></td>
    <td><%= h spec.manufacturer %></td>
    <td><%= h spec.year %> </td>
  </tr>
<% end -%>
</table>

<hr/>
<div style="text-align:center; margin: 0 auto;" >
<form action=<%=search_path%> method="get">
<input id='query' type="text" name="query" size="30">

<% if protect_against_forgery? %>
<input type="hidden" name="authenticity_token" value="<%= u form_authenticity_token -%>">
<% end %>

<%= submit_tag 'Search', :id=>'search_button' %>
</form>
</div>

<% else %>
<p>
Your search <%= h params[:query] %> did not match any specifications in our database.
</p>

<p>
Try:
<ul>
<li>Checking your spelling</li>
<li>Fewer terms</li>
<li>More general terms</li>
</ul>
</p>
<% end %>
