<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Free XML Feed of Yacht Layouts, Line Drawings, and Specifications: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div>
<%= link_to image_tag('ll_thumb.gif', :alt=>"Layouts and Line Drawings"), root_path %>
<h1 style="display: inline"> Developers </h1>
<ul id="nav">
<li><%= link_to 'Home', developers_path %></li>
<li><%= link_to 'Examples', examples_path %></li>
<li><%= link_to 'Libraries', libraries_path %></li>
<li><%= link_to 'Reference', documentation_path %></li>
</ul>
</div>
<hr/>

<%= yield  %>

</body>
</html>
